# Description of the program
## This program read the vicue data and then seperated it in two groups: G1: 20% data, G2:80% data
## G1 is stored data in a seperad file
## G2 is oversampled by SMOTE and stored data in a seperated file

In [1]:
#Read all data
import csv
import pandas as pd
dataset=pd.read_csv('Dataset/SwipeFeatures.csv')
dataset.head()

,1,2,3,4,5,6,7,8,9,10,...,25,26,27,28,29,30,31,32,33,Label
0,1526,500.0,709.0,997.000000,707.000000,0.0,0.0,-20.424458,4915.601074,-184.633240,...,0.009181,2.818104,7.941713,0.152941,0.196078,0.190137,0.007345,0.000054,0.176471,1
1,543,465.0,693.0,982.000000,718.000000,0.0,0.0,250.009857,2895.835205,-47.734386,...,-0.155373,2.407430,5.795718,0.172549,0.188235,0.186111,0.003653,0.000013,0.168627,1
2,319,467.0,695.0,937.000000,633.000000,0.0,0.0,16.652742,3549.160400,-542.255615,...,-2.140616,4.347183,18.898000,0.176471,0.192157,0.185294,0.003651,0.000013,0.172549,1
3,389,438.0,729.0,993.000000,683.000000,0.0,0.0,21.404055,3535.034180,-296.903229,...,0.397441,3.241130,10.504924,0.145098,0.188235,0.184314,0.009217,0.000085,0.176471,1
4,256,418.0,775.0,1021.160156,695.753113,0.0,0.0,58.071125,3863.499512,-642.398438,...,0.731230,7.690961,59.150887,0.125490,0.192157,0.184575,0.016603,0.000276,0.180392,1

In [2]:
#estimate the null data in each column
dataset.isnull().sum()

1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
30       0
31       0
32       0
33       0
Label    0
dtype: int64

In [3]:
#minimum value of each feature
dataset.min()

1            0.000000
2            9.000000
3          406.000000
4          -87.776321
5            0.000000
6            0.000000
7            0.000000
8       -26067.164060
9            0.000000
10       -8032.295898
11       -3425.435791
12      -10369.653270
13       -4389.543457
14           0.000000
15           0.000000
16           0.000000
17           0.000000
18       -1874.723633
19         -51.780945
20        -404.974382
21           0.000000
22           0.000000
23       -1016.240784
24        -428.179474
25        -428.179474
26           0.000000
27           0.000000
28           0.000000
29           0.000000
30           0.000000
31           0.000000
32           0.000000
33           0.000000
Label        1.000000
dtype: float64

In [4]:
#maimum value of each feature
pd.DataFrame(dataset.max())

                  0
1      5.469000e+03
2      1.390336e+03
3      1.549000e+03
4      1.432523e+03
5      1.538512e+03
6      6.410257e-01
7      8.000001e-01
8      1.456016e+04
9      2.193983e+04
10     1.834819e+03
11     8.798281e+03
12     1.495672e+04
13     3.067636e+03
14     1.134511e+04
15     3.571310e+03
16     1.290000e+08
17     1.280000e+07
18     1.820019e+03
19     2.214681e+03
20     1.820019e+03
21     9.639003e+02
22     9.291037e+05
23     7.302570e+01
24     2.018645e+03
25     2.961501e+02
26     7.602158e+02
27     5.779281e+05
28     1.000000e+00
29     1.162500e+00
30     1.059615e+00
31     3.134747e-01
32     9.826637e-02
33     1.025000e+00
Label  8.600000e+01

In [5]:
#normalized the data
df_max_scaled = dataset.copy()
  
# apply normalization techniques on Column 1
for i in range(1,34):
    column = str(i)
    df_max_scaled[column] = df_max_scaled[column] /df_max_scaled[column].abs().max()
    dataset[column]=df_max_scaled[column]
# view normalized data
display(dataset)

,1,2,3,4,5,6,7,8,9,10,...,25,26,27,28,29,30,31,32,33,Label
0,0.279027,0.359625,0.457715,0.695975,0.459535,0.000000,0.000000,-7.835320e-04,0.224049,-0.022986,...,0.000021,0.003707,0.000014,0.152941,0.168670,0.179439,0.023429,0.000549,0.172166,1
1,0.099287,0.334452,0.447385,0.685504,0.466685,0.000000,0.000000,9.590988e-03,0.131990,-0.005943,...,-0.000363,0.003167,0.000010,0.172549,0.161923,0.175640,0.011653,0.000135,0.164515,1
2,0.058329,0.335890,0.448677,0.654091,0.411436,0.000000,0.000000,6.388398e-04,0.161768,-0.067509,...,-0.004999,0.005718,0.000033,0.176471,0.165296,0.174869,0.011646,0.000135,0.168341,1
3,0.071128,0.315032,0.470626,0.693182,0.443935,0.000000,0.000000,8.211117e-04,0.161124,-0.036964,...,0.000928,0.004263,0.000018,0.145098,0.161923,0.173944,0.029402,0.000864,0.172166,1
4,0.046809,0.300647,0.500323,0.712840,0.452225,0.000000,0.000000,2.227750e-03,0.176095,-0.079977,...,0.001708,0.010117,0.000102,0.125490,0.165296,0.174191,0.052963,0.002809,0.175992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10315,0.026513,0.248504,0.350841,0.470531,0.341542,0.055824,0.036765,-1.657207e-07,0.247203,-0.108656,...,0.010455,0.032020,0.001025,1.000000,0.860215,0.943739,0.000000,0.000000,0.975610,86
10316,0.034924,0.264305,0.341164,0.478199,0.357129,0.050332,0.017157,-6.280716e-07,0.252231,-0.032231,...,0.012883,0.016145,0.000261,1.000000,0.860215,0.943739,0.000000,0.000000,0.975610,86
10317,0.034376,0.234857,0.336004,0.437768,0.329851,0.053224,0.039216,-1.142826e-03,0.199134,-0.029534,...,-0.000565,0.008745,0.000076,1.000000,0.860215,0.943739,0.000000,0.000000,0.975610,86
10318,0.033278,0.245631,0.354711,0.473320,0.377912,0.049553,0.029412,5.155356e-03,0.225140,-0.059469,...,0.014137,0.026519,0.000703,1.000000,0.860215,0.943739,0.000000,0.000000,0.975610,86
10319,0.030901,0.257841,0.350195,0.471926,0.382458,0.058729,0.029412,0.000000e+00,0.217663,-0.030709,...,0.016987,0.018120,0.000328,1.000000,0.860215,0.943739,0.000000,0.000000,0.975610,86

In [6]:
#replace the user ID by class name and count the number of sample in each class
dataset['Label'] = pd.factorize(dataset['Label'])[0]
dataset.groupby(['Label'])['Label'].count()

Label
0     120
1     120
2     120
3     120
4     120
     ...
81    120
82    120
83    120
84    120
85    120
Name: Label, Length: 86, dtype: int64

In [7]:
#seperate the 20.0% data from each profile for test purpose
from sklearn.model_selection import train_test_split
dataset1, test = train_test_split(dataset, test_size=0.2, random_state=42, shuffle=True)

In [8]:
#This data will go for oversample
#dataset1['Label'] = pd.factorize(dataset1['Label'])[0]
dataset1.groupby(['Label'])['Label'].count()

Label
0      89
1     106
2      89
3      94
4      91
     ...
81    103
82     99
83     98
84     97
85     98
Name: Label, Length: 86, dtype: int64

In [10]:
#replace the user ID by class name and count the number of sample in each class
#test['Label'] = pd.factorize(test['Label'])[0] 
test.groupby(['Label'])['Label'].count()
test.to_csv('Dataset\SwipeDatatest.csv')

In [11]:
import csv
import numpy as np
import pandas as pd
#import seaborn as sns
from imblearn.combine import SMOTETomek
from imblearn.over_sampling import SMOTE, ADASYN
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

#Special line for normalized and non-normalized data
AllDataSet=dataset1
#print(AllDataSet)
#Seperate minority and majority class
length2 = len(AllDataSet)
print(length2)

#indx=0
for indx in range(0,86):
    minClass=AllDataSet[AllDataSet['Label']==indx]
    majClass=AllDataSet[AllDataSet['Label']!=indx]
    minClass["Label"]=0
    majClass["Label"]=1
    majClass=majClass.head(300)
    #print(len(minClass))
    #print(len(majClass))
    frames = [minClass, majClass]
    Class = pd.concat(frames)
    X=Class.drop(['Label'], axis=1)
    Y=Class['Label']
        
    #print(FClass)
    #sns.countplot('ID', data = Class)
    oversample = SMOTE()
    X_res, y_res = oversample.fit_resample(X, Y)

    OversampledData=X_res
    OversampledData['Label']=y_res
    #OversampledData.Label.value_counts()
    dFClass=OversampledData[OversampledData['Label']==0]
    dFClass['Label']=indx
    if indx==0:
        AllClass=dFClass
    else:
        AllClass=pd.concat([AllClass,dFClass])

AllClass.reset_index()    
print(len(AllClass))

8256
25800

In [12]:
#AllClass=dataset
AllClass.head()

,1,2,3,4,5,6,7,8,9,10,...,25,26,27,28,29,30,31,32,33,Label
0,0.052478,0.277631,0.451259,0.718039,0.462785,0.0,0.0,0.018702,0.167556,-0.021220,...,-0.000286,0.006156,0.000038,0.098039,0.175416,0.183196,0.083857,0.007032,0.183644,0
1,0.052112,0.329417,0.456423,0.707689,0.431129,0.0,0.0,0.018824,0.188321,-0.046427,...,-0.001681,0.006563,0.000043,0.172549,0.161923,0.174437,0.012390,0.000154,0.172166,0
2,0.044798,0.246703,0.482247,0.682013,0.413386,0.0,0.0,0.023549,0.219466,-0.084152,...,-0.003980,0.007612,0.000058,0.172549,0.165296,0.176905,0.015824,0.000250,0.179818,0
3,0.050101,0.292016,0.470626,0.711022,0.418269,0.0,0.0,0.019350,0.182533,-0.089321,...,0.000438,0.009006,0.000081,0.149020,0.165296,0.178174,0.036672,0.001343,0.183644,0
4,0.048638,0.282665,0.438347,0.712347,0.447676,0.0,0.0,0.023968,0.151995,-0.024688,...,-0.001410,0.007316,0.000054,0.125490,0.175416,0.184353,0.061493,0.003786,0.183644,0

In [13]:
#replace the user ID by class name and count the number of sample in each class
#AllClass['Label'] = pd.factorize(AllClass['Label'])[0]
AllClass.groupby(['Label'])['Label'].count()

Label
0     300
1     300
2     300
3     300
4     300
     ...
81    300
82    300
83    300
84    300
85    300
Name: Label, Length: 86, dtype: int64

In [13]:
AllClass.to_csv('Dataset\OversampledSwipeData.csv')