# Description of the program
## This program read the vicue data and then seperated it in two groups: G1: 20% data, G2:80% data
## G1 is stored data in a seperad file
## G2 is oversampled by SMOTE and stored data in a seperated file

In [1]:
#Read all data
import csv
import pandas as pd
dataset=pd.read_csv('Dataset/VoiceFeatures.csv')
dataset.head()

,1,2,3,4,5,6,7,8,9,10,...,96,97,98,99,100,101,102,103,104,Label
0,62.260,-1.27880,-1.08140,0.791350,-0.66307,0.55440,-1.55100,0.41529,0.020317,0.167470,...,0.41147,-0.610580,-0.17219,-0.636590,0.085395,0.239860,0.356830,-0.189410,-0.222110,1
1,43.165,-2.49230,0.63701,-0.627150,-0.12276,0.32250,0.13839,0.15537,-0.386480,-0.102090,...,1.30290,0.099978,-0.48223,0.014823,0.325260,-0.209180,-0.032464,-0.058049,-0.256300,1
2,42.808,-2.59310,0.11536,-0.764140,0.45222,0.38955,0.13569,-0.21044,-0.250490,-0.552380,...,0.46931,0.001779,-0.34641,-0.343510,0.010462,-0.115360,-0.031941,0.003249,-0.075796,1
3,51.093,-0.25785,0.68588,-0.005255,-0.19083,-0.27881,0.74295,-0.51373,-0.877490,-0.671440,...,0.38124,0.540190,-0.32174,0.278050,-0.275410,0.517530,0.110490,0.344990,0.104110,1
4,49.788,-0.41078,-0.28261,0.321160,0.79570,-1.02350,0.96101,-0.44452,-0.312440,0.075746,...,0.36732,-1.089000,-0.26976,0.086477,0.495690,-0.031286,0.110570,-0.278550,0.170670,1

In [2]:
#estimate the null data in each column
dataset.isnull().sum()

1        0
2        0
3        0
4        0
5        0
        ..
101      0
102      0
103      0
104      0
Label    0
Length: 105, dtype: int64

In [3]:
#minimum value of each feature
dataset.min()

1         8.5638
2       -10.2390
3        -9.5431
4        -9.9018
5       -10.7570
          ...
101      -2.4697
102      -3.9621
103      -2.9430
104      -2.4532
Label     1.0000
Length: 105, dtype: float64

In [4]:
#maimum value of each feature
pd.DataFrame(dataset.max())

              0
1      106.9200
2       13.9570
3        7.6402
4       11.3480
5       11.8160
...         ...
101      1.8410
102      2.0864
103      1.7252
104      2.2460
Label   86.0000

[105 rows x 1 columns]

In [5]:
#normalized the data
df_max_scaled = dataset.copy()
  
# apply normalization techniques on Column 1
for i in range(1,104):
    column = str(i)
    df_max_scaled[column] = df_max_scaled[column] /df_max_scaled[column].abs().max()
    dataset[column]=df_max_scaled[column]
# view normalized data
display(dataset)

,1,2,3,4,5,6,7,8,9,10,...,96,97,98,99,100,101,102,103,104,Label
0,0.582305,-0.091624,-0.113317,0.069735,-0.056116,0.071154,-0.146473,0.049818,0.002500,0.020655,...,0.137189,-0.202803,-0.061708,-0.239653,0.033237,0.097121,0.090061,-0.064359,-0.222110,1
1,0.403713,-0.178570,0.066751,-0.055265,-0.010389,0.041391,0.013069,0.018638,-0.047548,-0.012591,...,0.434401,0.033208,-0.172818,0.005580,0.126595,-0.084699,-0.008194,-0.019724,-0.256300,1
2,0.400374,-0.185792,0.012088,-0.067337,0.038272,0.049996,0.012814,-0.025244,-0.030817,-0.068128,...,0.156473,0.000591,-0.124143,-0.129319,0.004072,-0.046710,-0.008062,0.001104,-0.075796,1
3,0.477862,-0.018475,0.071872,-0.000463,-0.016150,-0.035783,0.070162,-0.061627,-0.107956,-0.082812,...,0.127110,0.179423,-0.115302,0.104676,-0.107193,0.209552,0.027887,0.117224,0.104110,1
4,0.465657,-0.029432,-0.029614,0.028301,0.067341,-0.131359,0.090756,-0.053325,-0.038439,0.009342,...,0.122469,-0.361710,-0.096674,0.032555,0.192928,-0.012668,0.027907,-0.094648,0.170670,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10315,0.530986,0.153772,-0.114942,-0.140668,0.140225,-0.193991,-0.281084,0.035275,-0.086654,0.085480,...,-0.032184,-0.559936,0.164134,-0.117005,0.129814,0.147755,-0.142962,-0.039789,-0.408050,86
10316,0.537897,0.180662,-0.045490,-0.090078,0.092028,-0.134067,-0.182605,0.138470,-0.101117,0.039253,...,-0.348448,-0.539808,0.124316,0.035475,0.294092,0.380249,-0.079836,-0.076378,0.072417,86
10317,0.538337,0.147102,0.012930,-0.093532,0.099966,-0.150521,-0.305279,0.069782,-0.146195,0.158658,...,0.198850,-0.613811,0.316191,0.011478,-0.059861,0.275353,-0.118897,0.000090,0.050765,86
10318,0.555331,0.249366,-0.232178,-0.097171,0.278791,-0.144643,-0.280253,-0.022181,-0.170284,0.094436,...,0.065159,-0.433653,0.173624,-0.332884,-0.023692,0.497793,-0.240544,0.005137,-0.053183,86
10319,0.582623,0.245210,-0.192181,0.000964,0.169262,-0.215758,-0.409519,0.062898,-0.216801,0.108088,...,-0.033618,-0.486033,-0.129523,-0.279159,0.351894,0.211418,-0.032962,-0.108634,0.019872,86

In [6]:
#replace the user ID by class name and count the number of sample in each class
dataset['Label'] = pd.factorize(dataset['Label'])[0]
dataset.groupby(['Label'])['Label'].count()

Label
0     120
1     120
2     120
3     120
4     120
     ...
81    120
82    120
83    120
84    120
85    120
Name: Label, Length: 86, dtype: int64

In [7]:
#seperate the 20.0% data from each profile for test purpose
from sklearn.model_selection import train_test_split
dataset1, test = train_test_split(dataset, test_size=0.2, random_state=42, shuffle=True)

In [8]:
#This data will go for oversample
#dataset1['Label'] = pd.factorize(dataset1['Label'])[0]
dataset1.groupby(['Label'])['Label'].count()

Label
0      89
1     106
2      89
3      94
4      91
     ...
81    103
82     99
83     98
84     97
85     98
Name: Label, Length: 86, dtype: int64

In [ ]:
#store the 20% data in a seperate file
#replace the user ID by class name and count the number of sample in each class
#test['Label'] = pd.factorize(test['Label'])[0] 
test.groupby(['Label'])['Label'].count()
test.to_csv('Dataset\VoiceDatatest.csv')

In [9]:
#oversampled the data by using SMOTE
import csv
import numpy as np
import pandas as pd
#import seaborn as sns
from imblearn.combine import SMOTETomek
from imblearn.over_sampling import SMOTE, ADASYN
from collections import Counter

import warnings
warnings.filterwarnings('ignore')

#Special line for normalized and non-normalized data
AllDataSet=dataset
#print(AllDataSet)
#Seperate minority and majority class
length2 = len(AllDataSet)
print(length2)

#indx=0
for indx in range(0,86):
    minClass=AllDataSet[AllDataSet['Label']==indx]
    majClass=AllDataSet[AllDataSet['Label']!=indx]
    minClass["Label"]=0
    majClass["Label"]=1
    majClass=majClass.head(200)
    #print(len(minClass))
    #print(len(majClass))
    frames = [minClass, majClass]
    Class = pd.concat(frames)
    X=Class.drop(['Label'], axis=1)
    Y=Class['Label']
        
    #print(FClass)
    #sns.countplot('ID', data = Class)
    oversample = SMOTE()
    X_res, y_res = oversample.fit_resample(X, Y)

    OversampledData=X_res
    OversampledData['Label']=y_res
    #OversampledData.Label.value_counts()
    dFClass=OversampledData[OversampledData['Label']==0]
    dFClass['Label']=indx
    if indx==0:
        AllClass=dFClass
    else:
        AllClass=pd.concat([AllClass,dFClass])

AllClass.reset_index()    
print(len(AllClass))

10320
17200

In [10]:
AllClass.head()

,1,2,3,4,5,6,7,8,9,10,...,96,97,98,99,100,101,102,103,104,Label
0,0.582305,-0.091624,-0.113317,0.069735,-0.056116,0.071154,-0.146473,0.049818,0.002500,0.020655,...,0.137189,-0.202803,-0.061708,-0.239653,0.033237,0.097121,0.090061,-0.064359,-0.222110,0
1,0.403713,-0.178570,0.066751,-0.055265,-0.010389,0.041391,0.013069,0.018638,-0.047548,-0.012591,...,0.434401,0.033208,-0.172818,0.005580,0.126595,-0.084699,-0.008194,-0.019724,-0.256300,0
2,0.400374,-0.185792,0.012088,-0.067337,0.038272,0.049996,0.012814,-0.025244,-0.030817,-0.068128,...,0.156473,0.000591,-0.124143,-0.129319,0.004072,-0.046710,-0.008062,0.001104,-0.075796,0
3,0.477862,-0.018475,0.071872,-0.000463,-0.016150,-0.035783,0.070162,-0.061627,-0.107956,-0.082812,...,0.127110,0.179423,-0.115302,0.104676,-0.107193,0.209552,0.027887,0.117224,0.104110,0
4,0.465657,-0.029432,-0.029614,0.028301,0.067341,-0.131359,0.090756,-0.053325,-0.038439,0.009342,...,0.122469,-0.361710,-0.096674,0.032555,0.192928,-0.012668,0.027907,-0.094648,0.170670,0

In [11]:
#replace the user ID by class name and count the number of sample in each class
#AllClass['Label'] = pd.factorize(AllClass['Label'])[0]
AllClass.groupby(['Label'])['Label'].count()

Label
0     200
1     200
2     200
3     200
4     200
     ...
81    200
82    200
83    200
84    200
85    200
Name: Label, Length: 86, dtype: int64

In [ ]:
#stored all oversampled data
AllClass.to_csv('Dataset\OversampledVoiceData.csv')